/* line 1, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 3, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
nav {
  line-height: 0;
  background-color: #212121;
}

/* line 6, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
header {
  position: relative;
}

/* line 8, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 50px;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  padding: 0 70px 0 70px;
}

/* line 18, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.menu .menu_link {
  display: block;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #fff;
}

/* line 25, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 31, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.logo img {
  padding-top: 16px;
}

/* line 33, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.logo_under_text {
  display: block;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  padding-top: 6px;
}

/* line 40, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.call_us {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 22px;
  padding-left: 23px;
}

/* line 47, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.phone {
  display: block;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 53, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.btn_subheader {
  margin-top: 20px;
  width: 178px;
  height: 52px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

/* line 65, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.btn_subheader:hover {
  background-image: none;
  background-color: #fff;
  color: black;
}

/* line 69, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.bg_subheader {
  background: url("../img/bg_main.png") center center/cover no-repeat;
  min-height: 800px;
  padding: 150px 0 135px 0;
}

/* line 73, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.h1_uber {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

/* line 79, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.h2_uber {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

/* line 85, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.text_join {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 23px;
}

/* line 92, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.btn_request {
  width: 265px;
  height: 69px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin: 0 auto;
  margin-top: 115px;
}

/* line 105, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.btn_request:hover {
  background-image: none;
  background-color: #fff;
  color: black;
}

/* line 109, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reasons {
  min-height: 800px;
  padding-bottom: 64px;
}

/* line 112, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reasons_benefits {
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 126, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reasons_eight {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-top: 32px;
  text-align: center;
}

/* line 133, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.icon-1 {
  margin-top: 50px;
}

/* line 135, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.icon-2 {
  margin-top: 63px;
}

/* line 137, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.icon-3 {
  margin-top: 68px;
}

/* line 139, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.icon-4 {
  margin-top: 42px;
}

/* line 141, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reason_text {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 300;
  color: #202020;
}

/* line 146, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reason_main_text {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

/* line 151, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reason_main_text2 {
  margin-top: 55px;
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

/* line 156, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reason_main_text3 {
  margin-top: 54px;
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
}

/* line 161, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.bg_mobileapp {
  min-height: 863px;
  background: url(../img/bg_Mesh_big.png) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}

/* line 165, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.possibilities {
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 177, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobileapp {
  margin-top: 32px;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

/* line 184, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.do_order {
  margin-top: 0;
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

/* line 190, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_1 {
  background: url(../img/phone_1.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 30px;
}

/* line 195, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_2 {
  background: url(../img/phone_2.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 30px;
}

/* line 200, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_3 {
  background: url(../img/phone_3.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 30px;
}

/* line 205, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_4 {
  background: url(../img/phone_4.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 19px;
}

/* line 210, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_5 {
  background: url(../img/phone_5.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 19px;
}

/* line 215, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_bg_6 {
  background: url(../img/phone_6.png) center center/cover no-repeat;
  width: 320px;
  height: 280px;
  margin-top: 19px;
}

/* line 220, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_text {
  display: block;
  margin: 0 auto;
  padding-top: 89px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/* line 235, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_plus img {
  margin: 0 auto;
  display: block;
  padding-top: 98px;
}

/* line 240, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_plus_1 img {
  margin: 0 auto;
  display: block;
  padding-top: 73px;
}

/* line 245, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.mobile_plus_6 img {
  margin: 0 auto;
  display: block;
  padding-top: 73px;
}

/* line 249, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.bg_car_1 {
  background: url("../img/bg_car.png") center center/cover no-repeat;
  min-height: 502px;
  position: relative;
  z-index: 1;
}

/* line 255, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.bg_car_2 {
  background: url("../img/bg_car_small.png") center center/cover no-repeat;
  min-height: 398px;
  position: relative;
  padding-top: 211px;
}

/* line 262, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.car {
  max-width: 100%;
  display: block;
  position: absolute;
  margin-top: 45px;
  margin-left: 180px;
  z-index: 0;
}

/* line 269, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.title {
  display: block;
  width: 112px;
  height: 24px;
  margin-top: 57px;
  background-color: #fff;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  color: #070716;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 283, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.bg_car_1 .container .row {
  padding-bottom: 57px;
}

/* line 285, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.choice {
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 27px;
}

/* line 295, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.choice_order {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

/* line 304, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.car_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  text-align: center;
}

/* line 312, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.require {
  height: 920px;
  padding: 68px 0 90px 0;
}

/* line 315, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.require_tittle {
  margin-top: 33px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1ca8c3;
}

/* line 324, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reuire_list li {
  display: inline-block;
  list-style: none;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-right: 27px;
}

/* line 336, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reuire_list img {
  display: inline-block;
  margin-right: 10px;
}

/* line 339, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reuire_list ul {
  padding-left: 19px;
  padding-top: 10px;
}

/* line 342, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.pay {
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #1ca8c3;
}

/* line 351, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.check_red {
  margin-top: 33px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff5656;
}

/* line 360, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.reuire_list span {
  padding-right: 200px;
}

/* line 362, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.world {
  height: 720px;
  /** background: url("../img/black_world_bg.png") center center/cover no-repeat **/
  position: relative;
  z-index: -1;
}

/* line 367, ../../Tech on programming HTML/fourth_course_fontend part 2/sass/style.sass */
.world_bg {
  position: absolute;
  height: 716px;
  background: url("../img/world_bg.png") center center/cover no-repeat;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */