* {
	font-family: 'Roboto', sans-serif;
}
nav {
	line-height: 0;
	background-color: #212121;
}
header {
	position: relative;
}
.menu {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	height: 50px;
	align-items: center;
	list-style: none; 
	padding-left: 0;
	margin-bottom: 0px;
	padding: 0 70px 0 70px;
}
.menu .menu_link {
	display: block;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;;
	text-align: center;
	color: #fff;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.5)
	   
}
.logo img {
	padding-top: 16px;
}
.logo_under_text {
	display: block;
	opacity: 0.5;
	font-size: 13px;
	font-weight: 100;
	color: #ffffff;
	padding-top: 6px;
} 
.call_us {
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #ffffff;
	padding-top: 22px;
	padding-left: 23px;
}
.phone {
	display: block;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}
.btn_subheader {
	margin-top: 20px;
	width: 178px;
	height: 52px;
	background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
	box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	color: #ffffff;
}
.bg_subheader {
	background: url("../img/bg_main.png") center center/cover no-repeat;
	min-height: 800px;
	padding: 150px 0 135px 0;
}
.h1_uber {
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}
.h2_uber {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}
.text_join {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	margin-top: 23px;
}
.btn_request {
	width: 265px;
	height: 69px;
	background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
	border-radius: 4px;
	box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	color: #ffffff;
	margin: 0 auto;
	margin-top: 115px;
}

.reasons {
	min-height: 800px;
}
.reasons_benefits {
	width: 112px;
	height: 24px;
	background-color: #000000;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;
	margin-top: 18px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reasons_eight {
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	color: #222222;
	margin-top: 32px;
	text-align: center;
}
.icon-1 {
	margin-top: 50px;
}
.icon-2 {
	margin-top: 63px;
}
.icon-3 {
	margin-top: 68px;
}
.icon-4 {
	margin-top: 42px;
}
.reason_text {
	margin-top: 2px;
	font-size: 15px;
	font-weight: 300;
	color: #202020;
}
.reason_main_text {
	margin-top: 40px;
	font-size: 17px;
	font-weight: 400;
	color: #1eacc7;
}
.reason_main_text2 {
	margin-top: 55px;
	font-size: 17px;
	font-weight: 400;
	color: #1eacc7;
}
.reason_main_text3 {
	margin-top: 54px;
	font-size: 17px;
	font-weight: 400;
	color: #1eacc7;
}

.bg_mobileapp {
	min-height: 863px;
	background: url(../img/bg_Mesh_big.png) center center/cover no-repeat;
}
.possibilities {
	width: 112px;
	height: 24px;
	background-color: #000000;
	font-size: 11px;
	font-weight: 100;
	text-transform: uppercase;
	color: #ffffff;  
	margin: 0 auto;
	margin-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;  
}
.mobileapp {
	margin-top: 32px;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	color: #222222;
	text-align: center;
}
.do_order {
	margin-top: 0;
	font-size: 17px;
	font-weight: 400;
	color: #222222;
	text-align: center;
}